.react-multi-carousel-dot-list {
  bottom: 40px !important;
}

.react-multi-carousel-track {
  column-gap: 60px !important;
}

.item-carousel {
  column-gap: 40px !important;
  width: 80% !important;
}
